api = "0.2"

[buildpack]
  id = "org.cloudfoundry.php-dist"
  name = "PHP Buildpack"
  version = "{{ .Version }}"

[metadata]
  include_files = ["bin/build", "bin/detect", "buildpack.toml"]
  pre_package = "./scripts/build.sh"
  [metadata.default-versions]
    php = "7.2.*"

  [[metadata.dependencies]]
    id = "php"
    name = "PHP"
    sha256 = "bb73cf6aff98fee621cce8623a383ed6aceca11ac5a03b099c7d0f6383100ddb"
    source = "https://php.net/distributions/php-7.1.32.tar.gz"
    source_sha256 = "6e51a2fc610352438b2a1c40310468a1e2b5baf2fff43be77f9f408a9111590c"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://buildpacks.cloudfoundry.org/dependencies/php/php7-7.1.32-linux-x64-cflinuxfs3-bb73cf6a.tgz"
    version = "7.1.32"

  [[metadata.dependencies]]
    id = "php"
    name = "PHP"
    sha256 = "f3b8b62e029283583583de2c8cbbd2d168b441e4110f3421b3b943fb2cf4e32d"
    source = "https://php.net/distributions/php-7.1.33.tar.gz"
    source_sha256 = "0055f368ffefe51d5a4483755bd17475e88e74302c08b727952831c5b2682ea2"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://buildpacks.cloudfoundry.org/dependencies/php/php7-7.1.33-linux-x64-cflinuxfs3-f3b8b62e.tgz"
    version = "7.1.33"

  [[metadata.dependencies]]
    id = "php"
    name = "PHP"
    sha256 = "7a9bcb0fd7b98bfd49b4848dd822246bc3f536c72f4ac792105d50987260e3cb"
    source = "https://php.net/distributions/php-7.2.24.tar.gz"
    source_sha256 = "01baf7a34c856d2c552121fbad7296a8cde18389ce83db32f18252bc1cee4dd6"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://buildpacks.cloudfoundry.org/dependencies/php/php7-7.2.24-linux-x64-cflinuxfs3-7a9bcb0f.tgz"
    version = "7.2.24"

  [[metadata.dependencies]]
    id = "php"
    name = "PHP"
    sha256 = "d25f2b6d4f4c9a6eaaa2322e826e163785022d42af07be659c9a143ce4202a8d"
    source = "https://php.net/distributions/php-7.2.25.tar.gz"
    source_sha256 = "b2cb1bd46454d33b2c65c2fd559f464cd14e57dd47b953adf5caa77fdf0de52b"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://buildpacks.cloudfoundry.org/dependencies/php/php7-7.2.25-linux-x64-cflinuxfs3-d25f2b6d.tgz"
    version = "7.2.25"

  [[metadata.dependencies]]
    id = "php"
    name = "PHP"
    sha256 = "3c93efa3574004524442b39c5a7e9d696b8755ee08c3a8c1394dff34dd0a8962"
    source = "https://php.net/distributions/php-7.3.12.tar.gz"
    source_sha256 = "d617e5116f8472a628083f448ebe4afdbc4ac013c9a890b08946649dcbe61b34"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://buildpacks.cloudfoundry.org/dependencies/php/php7-7.3.12-linux-x64-cflinuxfs3-3c93efa3.tgz"
    version = "7.3.12"

  [[metadata.dependencies]]
    id = "php"
    name = "PHP"
    sha256 = "f15bd873b80cfd4a35587e6812f615a811f37a640c07a68507d3ef15e7959657"
    source = "https://php.net/distributions/php-7.3.13.tar.gz"
    source_sha256 = "9cf835416a3471d7e6615e9288e76813d55ffaf60e0aa9ce74884a7c228cb6dd"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://buildpacks.cloudfoundry.org/dependencies/php/php7-7.3.13-linux-x64-cflinuxfs3-f15bd873.tgz"
    version = "7.3.13"

  [[metadata.dependencies]]
    id = "php"
    name = "PHP"
    sha256 = "f72ba7f23bf4089ea86a152d09c6f063b5d2612b9a63ae5c52ca46f8a071fd9b"
    source = "https://php.net/distributions/php-7.4.0.tar.gz"
    source_sha256 = "004a1a8176176ee1b5c112e73d705977507803f425f9e48cb4a84f42b22abf22"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://buildpacks.cloudfoundry.org/dependencies/php/php7-7.4.0-linux-x64-cflinuxfs3-f72ba7f2.tgz"
    version = "7.4.0"

  [[metadata.dependencies]]
    id = "php"
    name = "PHP"
    sha256 = "c5a7f59e78e7d67d94d5bbce433f7cd7dacd818aeb5618a7abe690db22191af3"
    source = "https://php.net/distributions/php-7.4.1.tar.gz"
    source_sha256 = "67265d6bd48d828f4725964f71ca5c76c3da63b0d07bec5ec4e5acfdd3708073"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://buildpacks.cloudfoundry.org/dependencies/php/php7-7.4.1-linux-x64-cflinuxfs3-c5a7f59e.tgz"
    version = "7.4.1"

  [[metadata.dependency_deprecation_dates]]
    date = 2019-12-01T00:00:00Z
    link = "http://php.net/supported-versions.php"
    name = "php"
    version_line = "7.1.x"
    match = "7.1.\\d+"

  [[metadata.dependency_deprecation_dates]]
    date = 2020-11-30T00:00:00Z
    link = "http://php.net/supported-versions.php"
    name = "php"
    version_line = "7.2.x"
    match = "7.2.\\d+"

  [[metadata.dependency_deprecation_dates]]
    date = 2021-12-06T00:00:00Z
    link = "http://php.net/supported-versions.php"
    name = "php"
    version_line = "7.3.x"
    match = "7.3.\\d+"

  [[metadata.dependency_deprecation_dates]]
    date = 2022-11-08T00:00:00Z
    link = "http://php.net/supported-versions.php"
    name = "php"
    version_line = "7.4.x"
    match = "7.4.\\d+"

[[stacks]]
  id = "org.cloudfoundry.stacks.cflinuxfs3"
