
[buildpack]
id = "org.cloudfoundry.php"
name = "PHP Buildpack"
version = "{{ .Version }}"

[metadata]
include_files = ["bin/build","bin/detect","buildpack.toml"]
pre_package = "./scripts/build.sh"

[metadata.default-versions]
php-binary = "7.2.*"

[[metadata.dependencies]]
id = "php-binary"
name = "PHP"
sha256 = "fd202e39e2b4f5431fab26483ef4af87c266607f09aa21e515958859b18511aa"
source = "https://php.net/distributions/php-7.1.29.tar.gz"
source_sha256 = "bdd0e1707100c8b87f1be516f5b95a26e3eb4114d4316eaf0663bf292ead35bb"
stacks = ["org.cloudfoundry.stacks.cflinuxfs3"]
uri = "https://buildpacks.cloudfoundry.org/dependencies/php/php7-7.1.29-linux-x64-cflinuxfs3-fd202e39.tgz"
version = "7.1.29"

[[metadata.dependencies]]
id = "php-binary"
name = "PHP"
sha256 = "91769a94ac4142678b8134f839a257b33e24ac3ca7e6e1604d655be4cf112f25"
source = "https://php.net/distributions/php-7.1.30.tar.gz"
source_sha256 = "a604edf85d5dfc28e6ff3016dad3954c50b93db69afc42295178b4fdf42e026c"
stacks = ["org.cloudfoundry.stacks.cflinuxfs3"]
uri = "https://buildpacks.cloudfoundry.org/dependencies/php/php7-7.1.30-linux-x64-cflinuxfs3-91769a94.tgz"
version = "7.1.30"

[[metadata.dependencies]]
id = "php-binary"
name = "PHP"
sha256 = "1e80707ed042c92a8e7df0e263f92e0c7296f200cc04ce2b19916344b1715eaa"
stacks = ["org.cloudfoundry.stacks.cflinuxfs3"]
uri = "https://buildpacks.cloudfoundry.org/dependencies/php/php7-7.2.18-linux-x64-cflinuxfs3-1e80707e.tgz"
version = "7.2.18"

[[metadata.dependencies]]
id = "php-binary"
name = "PHP"
sha256 = "ef50436bec4ac832b6137bda6dcc1a6d4cfb6b8d7da16324925b78df8a07f6ba"
source = "https://php.net/distributions/php-7.2.20.tar.gz"
source_sha256 = "d1dbf6f299514c9aa55b2995928b798b27c21811a0447f0688993cdf36be0749"
stacks = ["org.cloudfoundry.stacks.cflinuxfs3"]
uri = "https://buildpacks.cloudfoundry.org/dependencies/php/php7-7.2.20-linux-x64-cflinuxfs3-ef50436b.tgz"
version = "7.2.20"

[[metadata.dependencies]]
id = "php-binary"
name = "PHP"
sha256 = "b919dac634ae2b825bf0c1f99cc617ab6de983f22c3b7bc6e07c9c713843ccec"
stacks = ["org.cloudfoundry.stacks.cflinuxfs3"]
uri = "https://buildpacks.cloudfoundry.org/dependencies/php/php7-7.3.5-linux-x64-cflinuxfs3-b919dac6.tgz"
version = "7.3.5"

[[metadata.dependencies]]
id = "php-binary"
name = "PHP"
sha256 = "5996caf25bcf2f34697a104f96baf3ce8f99ea8cf333401c661666bc999b677a"
source = "https://php.net/distributions/php-7.3.7.tar.gz"
source_sha256 = "4230bbc862df712b013369de94b131eddea1e5e946a8c5e286b82d441c313328"
stacks = ["org.cloudfoundry.stacks.cflinuxfs3"]
uri = "https://buildpacks.cloudfoundry.org/dependencies/php/php7-7.3.7-linux-x64-cflinuxfs3-5996caf2.tgz"
version = "7.3.7"

[[metadata.dependency_deprecation_dates]]
date = 2020-11-30T00:00:00Z
link = "http://php.net/supported-versions.php"
match = "7.2.\\d+"
name = "php"
version_line = "7.2.x"

[[metadata.dependency_deprecation_dates]]
date = 2021-12-06T00:00:00Z
link = "http://php.net/supported-versions.php"
match = "7.3.\\d+"
name = "php"
version_line = "7.3.x"

[[stacks]]
id = "org.cloudfoundry.stacks.cflinuxfs3"
