api = "0.7"

[buildpack]
  description = "A buildpack for installing and configuring PHP"
  homepage = "https://github.com/paketo-buildpacks/php-dist"
  id = "paketo-buildpacks/php-dist"
  keywords = ["php"]
  name = "Paketo PHP Distribution Buildpack"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/php-dist/blob/main/LICENSE"

[metadata]
  include-files = ["bin/build", "bin/detect", "bin/run", "buildpack.toml", "config/default.ini", "config/buildpack.ini"]
  pre-package = "./scripts/build.sh"
  [metadata.default-versions]
    php = "8.0.*"

  [[metadata.dependencies]]
    cpe = "cpe:2.3:a:php:php:7.4.28:*:*:*:*:*:*:*"
    deprecation_date = "2022-11-28T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@7.4.28?checksum=a04014cd1646b90547907e2e0ac5371594533960de317b6c7ac70bcb42db92fb&download_url=https://www.php.net/distributions/php-7.4.28.tar.gz"
    sha256 = "310443b881a62fb90fb2a73e407990446ba91542571a91154a91206c0305796f"
    source = "https://www.php.net/distributions/php-7.4.28.tar.gz"
    source_sha256 = "a04014cd1646b90547907e2e0ac5371594533960de317b6c7ac70bcb42db92fb"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://deps.paketo.io/php/php_7.4.28_linux_x64_bionic_310443b8.tgz"
    version = "7.4.28"

  [[metadata.dependencies]]
    cpe = "cpe:2.3:a:php:php:7.4.29:*:*:*:*:*:*:*"
    deprecation_date = "2022-11-28T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@7.4.29?checksum=f73f89873bb9447cb99eb4863cf0a0deab4481cb8acf7552c0e70647e6885854&download_url=https://www.php.net/distributions/php-7.4.29.tar.gz"
    sha256 = "5b02ff2b6571416022f7978cf5ca7241a718dc99490d3714e538d079fd63792f"
    source = "https://www.php.net/distributions/php-7.4.29.tar.gz"
    source_sha256 = "f73f89873bb9447cb99eb4863cf0a0deab4481cb8acf7552c0e70647e6885854"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://deps.paketo.io/php/php_7.4.29_linux_x64_bionic_5b02ff2b.tgz"
    version = "7.4.29"

  [[metadata.dependencies]]
    cpe = "cpe:2.3:a:php:php:8.0.16:*:*:*:*:*:*:*"
    deprecation_date = "2023-11-26T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@8.0.16?checksum=ce0ea32ff9c5af18cfb70197b40caf55824400dc8d5b4258a783ec9168baa5b1&download_url=https://www.php.net/distributions/php-8.0.16.tar.gz"
    sha256 = "8bfe1ce17b34d105d7a0e23c2731043bfdb5528b2d2601ab1b10046cf7defae6"
    source = "https://www.php.net/distributions/php-8.0.16.tar.gz"
    source_sha256 = "ce0ea32ff9c5af18cfb70197b40caf55824400dc8d5b4258a783ec9168baa5b1"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://deps.paketo.io/php/php_8.0.16_linux_x64_bionic_8bfe1ce1.tgz"
    version = "8.0.16"

  [[metadata.dependencies]]
    cpe = "cpe:2.3:a:php:php:8.0.17:*:*:*:*:*:*:*"
    deprecation_date = "2023-11-26T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@8.0.17?checksum=bdbd792901c156c4d1710c9d266732d3c17f6ff63850d6660b9d8d3411188424&download_url=https://www.php.net/distributions/php-8.0.17.tar.gz"
    sha256 = "0835bec3844ab7f84bd53097de4d559ce94ceb8a77a43730583f9a11161d18d9"
    source = "https://www.php.net/distributions/php-8.0.17.tar.gz"
    source_sha256 = "bdbd792901c156c4d1710c9d266732d3c17f6ff63850d6660b9d8d3411188424"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://deps.paketo.io/php/php_8.0.17_linux_x64_bionic_0835bec3.tgz"
    version = "8.0.17"

  [[metadata.dependency-constraints]]
    constraint = "7.4.*"
    id = "php"
    patches = 2

  [[metadata.dependency-constraints]]
    constraint = "8.0.*"
    id = "php"
    patches = 2

[[stacks]]
  id = "io.buildpacks.stacks.bionic"
  mixins = ["libargon2-0", "libcurl4", "libedit2", "libgd3", "libmagickwand-6.q16-3", "libonig4", "libxml2", "libyaml-0-2"]
