api = "0.2"

[buildpack]
  id = "paketo-buildpacks/php-dist"
  name = "Paketo PHP Buildpack"
  homepage = "https://github.com/paketo-buildpacks/php-dist"

[metadata]
  include-files = ["bin/build", "bin/detect", "bin/run", "buildpack.toml"]
  pre-package = "./scripts/build.sh"
  [metadata.default-versions]
    php = "7.4.*"

  [[metadata.dependencies]]
    deprecation_date = "2021-12-06T00:00:00Z"
    id = "php"
    name = "PHP"
    sha256 = "6933f99066a7e53cce39c35b7982f51d1a0a6cb50b39abe27e34b427aff5a849"
    source = "https://php.net/distributions/php-7.3.26.tar.gz"
    source_sha256 = "2b55c2a54d1825e7c3feaf44cf42cdf782b8d5c611314172fbf8e234960b6a99"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://buildpacks.cloudfoundry.org/dependencies/php/php_7.3.26_linux_x64_cflinuxfs3_6933f990.tgz"
    version = "7.3.26"

  [[metadata.dependencies]]
    deprecation_date = "2021-12-06T00:00:00Z"
    id = "php"
    name = "PHP"
    sha256 = "267c03f088776157f6da4a86bf775a5116e07e1794dd245e71c4a4f92fdfb7e0"
    source = "https://php.net/distributions/php-7.3.27.tar.gz"
    source_sha256 = "4b7b9bd0526ad3f2c8d6fd950ea7b0ab2478b5b09755c6a620a4f3bcfbf59154"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://buildpacks.cloudfoundry.org/dependencies/php/php_7.3.27_linux_x64_cflinuxfs3_267c03f0.tgz"
    version = "7.3.27"

  [[metadata.dependencies]]
    deprecation_date = "2022-11-08T00:00:00Z"
    id = "php"
    name = "PHP"
    sha256 = "3c03ed74001d62fe16305e3665d2d0e49897e4c530aa92e185dd1ac7942868d8"
    source = "https://php.net/distributions/php-7.4.14.tar.gz"
    source_sha256 = "d359183e2436f4ab30b70d4fbd881b5705a46b2e68cc6069fe91cd63d6e98e13"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://buildpacks.cloudfoundry.org/dependencies/php/php_7.4.14_linux_x64_cflinuxfs3_3c03ed74.tgz"
    version = "7.4.14"

  [[metadata.dependencies]]
    deprecation_date = "2022-11-28T00:00:00Z"
    id = "php"
    name = "PHP"
    sha256 = "4015c116629240b583f65b9fbc68be7dc50273a30f7ef83dda27c0e0ad34a031"
    source = "https://php.net/distributions/php-7.4.15.tar.gz"
    source_sha256 = "c7403988b69212335dec79e869abe9dbb23d60ea7f6eb16fd6ff99ed6b5f1c87"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://buildpacks.cloudfoundry.org/dependencies/php/php_7.4.15_linux_x64_cflinuxfs3_4015c116.tgz"
    version = "7.4.15"

  [[metadata.dependencies]]
    deprecation_date = "2023-11-26T00:00:00Z"
    id = "php"
    name = "PHP"
    sha256 = "c6a58cc060dd9c472e0c926f14ea9cf04da39f1e3937b6e311b42866970069f3"
    source = "https://php.net/distributions/php-8.0.2.tar.gz"
    source_sha256 = "cc17a32f76beb5f405da39a548218b3b6736710884fcd761838098553df149da"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://buildpacks.cloudfoundry.org/dependencies/php/php_8.0.2_linux_x64_cflinuxfs3_c6a58cc0.tgz"
    version = "8.0.2"

  [[metadata.dependencies]]
    deprecation_date = "2023-11-26T00:00:00Z"
    id = "php"
    name = "PHP"
    sha256 = "3de01649c0ef889e035e7cf077fb2bafc2868105ace73dfd4a58ad17ac71a8ff"
    source = "https://php.net/distributions/php-8.0.3.tar.gz"
    source_sha256 = "e7ecfee901e0843377b64b2d8124132eae75bdb71a2675ba7c5c038d6592383d"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://buildpacks.cloudfoundry.org/dependencies/php/php_8.0.3_linux_x64_cflinuxfs3_3de01649.tgz"
    version = "8.0.3"

  [[metadata.dependency_deprecation_dates]]
    date = 2021-12-06T00:00:00Z
    link = "http://php.net/supported-versions.php"
    match = "7.3.\\d+"
    name = "php"
    version_line = "7.3.x"

  [[metadata.dependency_deprecation_dates]]
    date = 2022-11-08T00:00:00Z
    link = "http://php.net/supported-versions.php"
    match = "7.4.\\d+"
    name = "php"
    version_line = "7.4.x"

[[stacks]]
  id = "io.buildpacks.stacks.bionic"
  mixins = ["libargon2-0", "libcurl4", "libedit2", "libgd3", "libmagickwand-6.q16-3", "libonig4", "libxml2", "libyaml-0-2"]

[[stacks]]
  id = "org.cloudfoundry.stacks.cflinuxfs3"
