api = "0.7"

[buildpack]
  description = "A buildpack for installing and configuring PHP"
  homepage = "https://github.com/paketo-buildpacks/php-dist"
  id = "paketo-buildpacks/php-dist"
  keywords = ["php"]
  name = "Paketo Buildpack for PHP Distribution"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/php-dist/blob/main/LICENSE"

[metadata]
  include-files = ["bin/build", "bin/detect", "bin/run", "buildpack.toml", "config/default.ini", "config/buildpack.ini"]
  pre-package = "./scripts/build.sh"
  [metadata.default-versions]
    php = "8.1.*"

  [[metadata.dependencies]]
    checksum = "sha256:361e06a8d724f6e0b68f23dcb59cf69a88b013e7677b93a604b1ec552bffa190"
    cpe = "cpe:2.3:a:php:php:8.1.27:*:*:*:*:*:*:*"
    deprecation_date = "2024-11-25T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@8.1.27?checksum=9aa5d7a29389d799885d90740932697006d5d0f55d1def67678e0c14f6ab7b2d&download_url=https://github.com/php/web-php-distributions/raw/master/php-8.1.27.tar.gz"
    source = "https://github.com/php/web-php-distributions/raw/master/php-8.1.27.tar.gz"
    source-checksum = "sha256:9aa5d7a29389d799885d90740932697006d5d0f55d1def67678e0c14f6ab7b2d"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://artifacts.paketo.io/php/php_8.1.27_linux_x64_bionic_361e06a8.tgz"
    version = "8.1.27"

  [[metadata.dependencies]]
    checksum = "sha256:587f7605ef513b1ad6dd9f6623f33ecca0dcd420d7914965a92d692e339159a2"
    cpe = "cpe:2.3:a:php:php:8.1.27:*:*:*:*:*:*:*"
    deprecation_date = "2024-11-25T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@8.1.27?checksum=9aa5d7a29389d799885d90740932697006d5d0f55d1def67678e0c14f6ab7b2d&download_url=https://github.com/php/web-php-distributions/raw/master/php-8.1.27.tar.gz"
    source = "https://github.com/php/web-php-distributions/raw/master/php-8.1.27.tar.gz"
    source-checksum = "sha256:9aa5d7a29389d799885d90740932697006d5d0f55d1def67678e0c14f6ab7b2d"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/php/php_8.1.27_linux_x64_jammy_587f7605.tgz"
    version = "8.1.27"

  [[metadata.dependencies]]
    checksum = "sha256:9bf8d8fa5ae79f28d7c132c3f8ab4850ff900fa2c22f879dd628a6bbd045c944"
    cpe = "cpe:2.3:a:php:php:8.1.28:*:*:*:*:*:*:*"
    deprecation_date = "2024-11-25T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@8.1.28?checksum=a2a9d853f4a4c9ff8631da5dc3a6cec5ab083ef37a214877b0240dcfcdfdefea&download_url=https://github.com/php/web-php-distributions/raw/master/php-8.1.28.tar.gz"
    source = "https://github.com/php/web-php-distributions/raw/master/php-8.1.28.tar.gz"
    source-checksum = "sha256:a2a9d853f4a4c9ff8631da5dc3a6cec5ab083ef37a214877b0240dcfcdfdefea"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://artifacts.paketo.io/php/php_8.1.28_linux_x64_bionic_9bf8d8fa.tgz"
    version = "8.1.28"

  [[metadata.dependencies]]
    checksum = "sha256:eb7c61ab8f6bba42e6c0e9c605c3d512d55cdc5f01f67a140d74be02fafdaf97"
    cpe = "cpe:2.3:a:php:php:8.1.28:*:*:*:*:*:*:*"
    deprecation_date = "2024-11-25T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@8.1.28?checksum=a2a9d853f4a4c9ff8631da5dc3a6cec5ab083ef37a214877b0240dcfcdfdefea&download_url=https://github.com/php/web-php-distributions/raw/master/php-8.1.28.tar.gz"
    source = "https://github.com/php/web-php-distributions/raw/master/php-8.1.28.tar.gz"
    source-checksum = "sha256:a2a9d853f4a4c9ff8631da5dc3a6cec5ab083ef37a214877b0240dcfcdfdefea"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/php/php_8.1.28_linux_x64_jammy_eb7c61ab.tgz"
    version = "8.1.28"

  [[metadata.dependencies]]
    checksum = "sha256:4dfeb3f7dfa84dfcc14c2f2c7a71c043108ae12baab52f292eb8cbf477d4e517"
    cpe = "cpe:2.3:a:php:php:8.2.17:*:*:*:*:*:*:*"
    deprecation_date = "2025-12-08T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@8.2.17?checksum=1d8ab98e1c09518c672c5afcbef0e61f9003173c7638fc686461ae670d12742e&download_url=https://github.com/php/web-php-distributions/raw/master/php-8.2.17.tar.gz"
    source = "https://github.com/php/web-php-distributions/raw/master/php-8.2.17.tar.gz"
    source-checksum = "sha256:1d8ab98e1c09518c672c5afcbef0e61f9003173c7638fc686461ae670d12742e"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://artifacts.paketo.io/php/php_8.2.17_linux_x64_bionic_4dfeb3f7.tgz"
    version = "8.2.17"

  [[metadata.dependencies]]
    checksum = "sha256:2114ce671b856b1fe682276b49a8dc40a4f306e53aa9db40043adf7e2188db50"
    cpe = "cpe:2.3:a:php:php:8.2.17:*:*:*:*:*:*:*"
    deprecation_date = "2025-12-08T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@8.2.17?checksum=1d8ab98e1c09518c672c5afcbef0e61f9003173c7638fc686461ae670d12742e&download_url=https://github.com/php/web-php-distributions/raw/master/php-8.2.17.tar.gz"
    source = "https://github.com/php/web-php-distributions/raw/master/php-8.2.17.tar.gz"
    source-checksum = "sha256:1d8ab98e1c09518c672c5afcbef0e61f9003173c7638fc686461ae670d12742e"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/php/php_8.2.17_linux_x64_jammy_2114ce67.tgz"
    version = "8.2.17"

  [[metadata.dependencies]]
    checksum = "sha256:70fbed81a0cdcda66d372638c5b1db0232f85a91e2bbcb2b7c93adbcbc73c4d5"
    cpe = "cpe:2.3:a:php:php:8.2.18:*:*:*:*:*:*:*"
    deprecation_date = "2025-12-08T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@8.2.18?checksum=b934ca7e8c82945c5cbf0aa2a3f66727eb5b5098e551819e1b090572d6a51ead&download_url=https://github.com/php/web-php-distributions/raw/master/php-8.2.18.tar.gz"
    source = "https://github.com/php/web-php-distributions/raw/master/php-8.2.18.tar.gz"
    source-checksum = "sha256:b934ca7e8c82945c5cbf0aa2a3f66727eb5b5098e551819e1b090572d6a51ead"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://artifacts.paketo.io/php/php_8.2.18_linux_x64_bionic_70fbed81.tgz"
    version = "8.2.18"

  [[metadata.dependencies]]
    checksum = "sha256:025c3f3dfbae69bead992153b7c17930aed10bda0065572e9062e823d1a8fae1"
    cpe = "cpe:2.3:a:php:php:8.2.18:*:*:*:*:*:*:*"
    deprecation_date = "2025-12-08T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@8.2.18?checksum=b934ca7e8c82945c5cbf0aa2a3f66727eb5b5098e551819e1b090572d6a51ead&download_url=https://github.com/php/web-php-distributions/raw/master/php-8.2.18.tar.gz"
    source = "https://github.com/php/web-php-distributions/raw/master/php-8.2.18.tar.gz"
    source-checksum = "sha256:b934ca7e8c82945c5cbf0aa2a3f66727eb5b5098e551819e1b090572d6a51ead"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/php/php_8.2.18_linux_x64_jammy_025c3f3d.tgz"
    version = "8.2.18"

  [[metadata.dependencies]]
    checksum = "sha256:13d659dd0114ed58fda7085ebd491e7c2b50e85c5e950a8625719cb684d0f043"
    cpe = "cpe:2.3:a:php:php:8.3.4:*:*:*:*:*:*:*"
    deprecation_date = "2026-11-23T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@8.3.4?checksum=0e2801e47fb1b92d2743204fcf650ce2fcad1a13ef7a44fe05738101a383e4a2&download_url=https://github.com/php/web-php-distributions/raw/master/php-8.3.4.tar.gz"
    source = "https://github.com/php/web-php-distributions/raw/master/php-8.3.4.tar.gz"
    source-checksum = "sha256:0e2801e47fb1b92d2743204fcf650ce2fcad1a13ef7a44fe05738101a383e4a2"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://artifacts.paketo.io/php/php_8.3.4_linux_x64_bionic_13d659dd.tgz"
    version = "8.3.4"

  [[metadata.dependencies]]
    checksum = "sha256:c1f41e044858e8d7b53b7a4a4876f973714fb9b7f2c516ba9b01291a347d8fea"
    cpe = "cpe:2.3:a:php:php:8.3.4:*:*:*:*:*:*:*"
    deprecation_date = "2026-11-23T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@8.3.4?checksum=0e2801e47fb1b92d2743204fcf650ce2fcad1a13ef7a44fe05738101a383e4a2&download_url=https://github.com/php/web-php-distributions/raw/master/php-8.3.4.tar.gz"
    source = "https://github.com/php/web-php-distributions/raw/master/php-8.3.4.tar.gz"
    source-checksum = "sha256:0e2801e47fb1b92d2743204fcf650ce2fcad1a13ef7a44fe05738101a383e4a2"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/php/php_8.3.4_linux_x64_jammy_c1f41e04.tgz"
    version = "8.3.4"

  [[metadata.dependencies]]
    checksum = "sha256:53a4e398d72fb7485d6bd0794236c771b1c5f588085dba676a6c6d136b42fb06"
    cpe = "cpe:2.3:a:php:php:8.3.6:*:*:*:*:*:*:*"
    deprecation_date = "2026-11-23T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@8.3.6?checksum=39695f5bd107892e36fd2ed6b3d3a78140fd4b05d556d6c6531a921633cacb5f&download_url=https://github.com/php/web-php-distributions/raw/master/php-8.3.6.tar.gz"
    source = "https://github.com/php/web-php-distributions/raw/master/php-8.3.6.tar.gz"
    source-checksum = "sha256:39695f5bd107892e36fd2ed6b3d3a78140fd4b05d556d6c6531a921633cacb5f"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://artifacts.paketo.io/php/php_8.3.6_linux_x64_bionic_53a4e398.tgz"
    version = "8.3.6"

  [[metadata.dependencies]]
    checksum = "sha256:23311a3918036e4187bfc95144f3f6b958f93ae04eeda28885a294b03039cea2"
    cpe = "cpe:2.3:a:php:php:8.3.6:*:*:*:*:*:*:*"
    deprecation_date = "2026-11-23T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@8.3.6?checksum=39695f5bd107892e36fd2ed6b3d3a78140fd4b05d556d6c6531a921633cacb5f&download_url=https://github.com/php/web-php-distributions/raw/master/php-8.3.6.tar.gz"
    source = "https://github.com/php/web-php-distributions/raw/master/php-8.3.6.tar.gz"
    source-checksum = "sha256:39695f5bd107892e36fd2ed6b3d3a78140fd4b05d556d6c6531a921633cacb5f"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/php/php_8.3.6_linux_x64_jammy_23311a39.tgz"
    version = "8.3.6"

  [[metadata.dependency-constraints]]
    constraint = "8.1.*"
    id = "php"
    patches = 2

  [[metadata.dependency-constraints]]
    constraint = "8.2.*"
    id = "php"
    patches = 2

  [[metadata.dependency-constraints]]
    constraint = "8.3.*"
    id = "php"
    patches = 2

[[stacks]]
  id = "io.buildpacks.stacks.bionic"
  mixins = ["libargon2-0", "libcurl4", "libedit2", "libgd3", "libmagickwand-6.q16-3", "libonig4", "libxml2", "libyaml-0-2"]

[[stacks]]
  id = "io.buildpacks.stacks.jammy"

[[targets.distros]]
name = "ubuntu"
version = "18.04"

[[targets.distros]]
name = "ubuntu"
version = "22.04"
