api = "0.2"

[buildpack]
  id = "paketo-buildpacks/php-dist"
  name = "PHP Buildpack"
  version = "{{ .Version }}"
  homepage = "https://github.com/paketo-buildpacks/php-dist"

[metadata]
  include_files = ["bin/build", "bin/detect", "buildpack.toml"]
  pre_package = "./scripts/build.sh"
  [metadata.default-versions]
    php = "7.2.*"

  [[metadata.dependencies]]
    deprecation_date = "2020-11-30T00:00:00Z"
    id = "php"
    name = "PHP"
    sha256 = "fa66681c79297d14715afcaed7a0b7b7e11ca44651625682a802fff80c418703"
    source = "https://php.net/distributions/php-7.2.31.tar.gz"
    source_sha256 = "796837831ccebf00dc15921ed327cfbac59177da41b33044d9a6c7134cdd250c"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://buildpacks.cloudfoundry.org/dependencies/php/php7_7.2.31_linux_x64_cflinuxfs3_fa66681c.tgz"
    version = "7.2.31"

  [[metadata.dependencies]]
    deprecation_date = "2020-11-30T00:00:00Z"
    id = "php"
    name = "PHP"
    sha256 = "44351be4f3445bb6414d741fb8861fd29cbf8a215f8e9b4f73db95db79b0f90a"
    source = "https://php.net/distributions/php-7.2.32.tar.gz"
    source_sha256 = "b3aabb99e574c407dd58ad071fc52e27c489608fe06f1330d688d0fb7349089c"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://buildpacks.cloudfoundry.org/dependencies/php/php7_7.2.32_linux_x64_cflinuxfs3_44351be4.tgz"
    version = "7.2.32"

  [[metadata.dependencies]]
    deprecation_date = "2021-12-06T00:00:00Z"
    id = "php"
    name = "PHP"
    sha256 = "e376f0feb2f4c85e1bfdca9d069d78e63e953a0955c5fd326b1b6144dbef1cb0"
    source = "https://php.net/distributions/php-7.3.18.tar.gz"
    source_sha256 = "3211d5d6ea8a27c2794498a551bf26e334bc2b986741971809c9bb650eaa47a3"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://buildpacks.cloudfoundry.org/dependencies/php/php7_7.3.18_linux_x64_cflinuxfs3_e376f0fe.tgz"
    version = "7.3.18"

  [[metadata.dependencies]]
    deprecation_date = "2021-12-06T00:00:00Z"
    id = "php"
    name = "PHP"
    sha256 = "559a992d693cf3e8518f6cab70c561725521e973049a62958b0765e19731b37f"
    source = "https://php.net/distributions/php-7.3.19.tar.gz"
    source_sha256 = "809126b46d62a1a06c2d5a0f9d7ba61aba40e165f24d2d185396d0f9646d3280"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://buildpacks.cloudfoundry.org/dependencies/php/php7_7.3.19_linux_x64_cflinuxfs3_559a992d.tgz"
    version = "7.3.19"

  [[metadata.dependencies]]
    deprecation_date = "2022-11-08T00:00:00Z"
    id = "php"
    name = "PHP"
    sha256 = "7e935549cd47d5f9ede4871cbf2e34db32d749f5b7b5fe6fc72ab0d44c631b88"
    source = "https://php.net/distributions/php-7.4.7.tar.gz"
    source_sha256 = "a554a510190e726ebe7157fb00b4aceabdb50c679430510a3b93cbf5d7546e44"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://buildpacks.cloudfoundry.org/dependencies/php/php7_7.4.7_linux_x64_cflinuxfs3_7e935549.tgz"
    version = "7.4.7"

  [[metadata.dependencies]]
    deprecation_date = "2022-11-08T00:00:00Z"
    id = "php"
    name = "PHP"
    sha256 = "c09aed0f17dce2c580c1a83ca2cb8629632fa1c57da92c47919914f9221bc3ef"
    source = "https://php.net/distributions/php-7.4.8.tar.gz"
    source_sha256 = "649f6bcdb60dc38d5edd7f3a7b2905d15d88c1d13e40307e8972ede347cea6ba"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://buildpacks.cloudfoundry.org/dependencies/php/php7_7.4.8_linux_x64_cflinuxfs3_c09aed0f.tgz"
    version = "7.4.8"

  [[metadata.dependency_deprecation_dates]]
    date = 2020-11-30T00:00:00Z
    link = "http://php.net/supported-versions.php"
    match = "7.2.\\d+"
    name = "php"
    version_line = "7.2.x"

  [[metadata.dependency_deprecation_dates]]
    date = 2021-12-06T00:00:00Z
    link = "http://php.net/supported-versions.php"
    match = "7.3.\\d+"
    name = "php"
    version_line = "7.3.x"

  [[metadata.dependency_deprecation_dates]]
    date = 2022-11-08T00:00:00Z
    link = "http://php.net/supported-versions.php"
    match = "7.4.\\d+"
    name = "php"
    version_line = "7.4.x"

[[stacks]]
  id = "io.buildpacks.stacks.bionic"
  mixins = ["libargon2-0", "libcurl4", "libgd3", "libmagickwand-6.q16-3", "libonig4", "libxml2", "libyaml-0-2"]

[[stacks]]
  id = "org.cloudfoundry.stacks.cflinuxfs3"
