api = "0.7"

[buildpack]
  description = "A buildpack for installing and configuring PHP"
  homepage = "https://github.com/paketo-buildpacks/php-dist"
  id = "paketo-buildpacks/php-dist"
  keywords = ["php"]
  name = "Paketo PHP Distribution Buildpack"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/php-dist/blob/main/LICENSE"

[metadata]
  include-files = ["bin/build", "bin/detect", "bin/run", "buildpack.toml", "config/default.ini", "config/buildpack.ini"]
  pre-package = "./scripts/build.sh"
  [metadata.default-versions]
    php = "8.0.*"

  [[metadata.dependencies]]
    cpe = "cpe:2.3:a:php:php:7.4.29:*:*:*:*:*:*:*"
    deprecation_date = "2022-11-28T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@7.4.29?checksum=f73f89873bb9447cb99eb4863cf0a0deab4481cb8acf7552c0e70647e6885854&download_url=https://www.php.net/distributions/php-7.4.29.tar.gz"
    sha256 = "5b02ff2b6571416022f7978cf5ca7241a718dc99490d3714e538d079fd63792f"
    source = "https://www.php.net/distributions/php-7.4.29.tar.gz"
    source_sha256 = "f73f89873bb9447cb99eb4863cf0a0deab4481cb8acf7552c0e70647e6885854"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://deps.paketo.io/php/php_7.4.29_linux_x64_bionic_5b02ff2b.tgz"
    version = "7.4.29"

  [[metadata.dependencies]]
    cpe = "cpe:2.3:a:php:php:7.4.30:*:*:*:*:*:*:*"
    deprecation_date = "2022-11-28T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@7.4.30?checksum=e37ea37e0f79109351ac615da85eb7c2c336101fc5bc802ee79a124a4310dc10&download_url=https://github.com/php/web-php-distributions/raw/master/php-7.4.30.tar.gz"
    sha256 = "0903572c8d86e84f3aa9dbe4f38da735d03f0ccc36692af973bdafd492cdf0cf"
    source = "https://github.com/php/web-php-distributions/raw/master/php-7.4.30.tar.gz"
    source_sha256 = "e37ea37e0f79109351ac615da85eb7c2c336101fc5bc802ee79a124a4310dc10"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://deps.paketo.io/php/php_7.4.30_linux_x64_bionic_0903572c.tgz"
    version = "7.4.30"

  [[metadata.dependencies]]
    cpe = "cpe:2.3:a:php:php:8.0.21:*:*:*:*:*:*:*"
    deprecation_date = "2023-11-26T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@8.0.21?checksum=2f51f6e90e2e8efd3a20db08f0dd61d7f8d5a9362f8c7325f1ad28ccea5be0ac&download_url=https://github.com/php/web-php-distributions/raw/master/php-8.0.21.tar.gz"
    sha256 = "f11a193dee74850480570043ddcfe041bc9454453939b8b7dc4c4b53f4197e2f"
    source = "https://github.com/php/web-php-distributions/raw/master/php-8.0.21.tar.gz"
    source_sha256 = "2f51f6e90e2e8efd3a20db08f0dd61d7f8d5a9362f8c7325f1ad28ccea5be0ac"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://deps.paketo.io/php/php_8.0.21_linux_x64_bionic_f11a193d.tgz"
    version = "8.0.21"

  [[metadata.dependencies]]
    cpe = "cpe:2.3:a:php:php:8.0.22:*:*:*:*:*:*:*"
    deprecation_date = "2023-11-26T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@8.0.22?checksum=56fce7529a9798fd0895bca3539d2a65b9cac5d23ffbdf6338419c62ed083519&download_url=https://github.com/php/web-php-distributions/raw/master/php-8.0.22.tar.gz"
    sha256 = "08125b2134ab04d678881cf7af8a5371ffd03422ac3635aad41cef531fd91df4"
    source = "https://github.com/php/web-php-distributions/raw/master/php-8.0.22.tar.gz"
    source_sha256 = "56fce7529a9798fd0895bca3539d2a65b9cac5d23ffbdf6338419c62ed083519"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://deps.paketo.io/php/php_8.0.22_linux_x64_bionic_08125b21.tgz"
    version = "8.0.22"

  [[metadata.dependencies]]
    cpe = "cpe:2.3:a:php:php:8.1.9:*:*:*:*:*:*:*"
    deprecation_date = "2024-11-25T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@8.1.9?checksum=954cf77f7e0a70dc765e7639acdfdccd164be5cd1bce3dbe9d10c58dca631e76&download_url=https://github.com/php/web-php-distributions/raw/master/php-8.1.9.tar.gz"
    sha256 = "598ab904d632439ae9575e419e599d5fe44a692afb4c997128897e723aa05798"
    source = "https://github.com/php/web-php-distributions/raw/master/php-8.1.9.tar.gz"
    source_sha256 = "954cf77f7e0a70dc765e7639acdfdccd164be5cd1bce3dbe9d10c58dca631e76"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://deps.paketo.io/php/php_8.1.9_linux_x64_bionic_598ab904.tgz"
    version = "8.1.9"

  [[metadata.dependencies]]
    cpe = "cpe:2.3:a:php:php:8.1.10:*:*:*:*:*:*:*"
    deprecation_date = "2024-11-25T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@8.1.10?checksum=3ea4f323109dfbc8d2631d08aa0e08602c1f713678e9dc6c750f081ef49eab0f&download_url=https://github.com/php/web-php-distributions/raw/master/php-8.1.10.tar.gz"
    sha256 = "b3e64cfc0b95db5f9e0ee9517fc395a8b98d611115fc30416acc0c59f61735da"
    source = "https://github.com/php/web-php-distributions/raw/master/php-8.1.10.tar.gz"
    source_sha256 = "3ea4f323109dfbc8d2631d08aa0e08602c1f713678e9dc6c750f081ef49eab0f"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://deps.paketo.io/php/php_8.1.10_linux_x64_bionic_b3e64cfc.tgz"
    version = "8.1.10"

  [[metadata.dependency-constraints]]
    constraint = "7.4.*"
    id = "php"
    patches = 2

  [[metadata.dependency-constraints]]
    constraint = "8.0.*"
    id = "php"
    patches = 2

  [[metadata.dependency-constraints]]
    constraint = "8.1.*"
    id = "php"
    patches = 2

[[stacks]]
  id = "io.buildpacks.stacks.bionic"
  mixins = ["libargon2-0", "libcurl4", "libedit2", "libgd3", "libmagickwand-6.q16-3", "libonig4", "libxml2", "libyaml-0-2"]
