api = "0.7"

[buildpack]
  description = "A buildpack for installing and configuring PHP"
  homepage = "https://github.com/paketo-buildpacks/php-dist"
  id = "paketo-buildpacks/php-dist"
  keywords = ["php"]
  name = "Paketo Buildpack for PHP Distribution"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/php-dist/blob/main/LICENSE"

[metadata]
  include-files = ["bin/build", "bin/detect", "bin/run", "buildpack.toml", "config/default.ini", "config/buildpack.ini"]
  pre-package = "./scripts/build.sh"
  [metadata.default-versions]
    php = "8.1.*"

  [[metadata.dependencies]]
    checksum = "sha256:c18d14b3161965d32a355d2c9968be3ee3aea48cb2fd7d667b3d7569480ccc26"
    cpe = "cpe:2.3:a:php:php:8.1.26:*:*:*:*:*:*:*"
    deprecation_date = "2024-11-25T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@8.1.26?checksum=d954cecfc3d294c2fccbe2b1a6bef784ce0d6c5d44a9e28f8a527e092825f2cb&download_url=https://github.com/php/web-php-distributions/raw/master/php-8.1.26.tar.gz"
    source = "https://github.com/php/web-php-distributions/raw/master/php-8.1.26.tar.gz"
    source-checksum = "sha256:d954cecfc3d294c2fccbe2b1a6bef784ce0d6c5d44a9e28f8a527e092825f2cb"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://artifacts.paketo.io/php/php_8.1.26_linux_x64_bionic_c18d14b3.tgz"
    version = "8.1.26"

  [[metadata.dependencies]]
    checksum = "sha256:b9c81a0595d823ebcd39a5994545c6d0f768a1d1569eac1f8dd722922232f167"
    cpe = "cpe:2.3:a:php:php:8.1.26:*:*:*:*:*:*:*"
    deprecation_date = "2024-11-25T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@8.1.26?checksum=d954cecfc3d294c2fccbe2b1a6bef784ce0d6c5d44a9e28f8a527e092825f2cb&download_url=https://github.com/php/web-php-distributions/raw/master/php-8.1.26.tar.gz"
    source = "https://github.com/php/web-php-distributions/raw/master/php-8.1.26.tar.gz"
    source-checksum = "sha256:d954cecfc3d294c2fccbe2b1a6bef784ce0d6c5d44a9e28f8a527e092825f2cb"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/php/php_8.1.26_linux_x64_jammy_b9c81a05.tgz"
    version = "8.1.26"

  [[metadata.dependencies]]
    checksum = "sha256:361e06a8d724f6e0b68f23dcb59cf69a88b013e7677b93a604b1ec552bffa190"
    cpe = "cpe:2.3:a:php:php:8.1.27:*:*:*:*:*:*:*"
    deprecation_date = "2024-11-25T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@8.1.27?checksum=9aa5d7a29389d799885d90740932697006d5d0f55d1def67678e0c14f6ab7b2d&download_url=https://github.com/php/web-php-distributions/raw/master/php-8.1.27.tar.gz"
    source = "https://github.com/php/web-php-distributions/raw/master/php-8.1.27.tar.gz"
    source-checksum = "sha256:9aa5d7a29389d799885d90740932697006d5d0f55d1def67678e0c14f6ab7b2d"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://artifacts.paketo.io/php/php_8.1.27_linux_x64_bionic_361e06a8.tgz"
    version = "8.1.27"

  [[metadata.dependencies]]
    checksum = "sha256:587f7605ef513b1ad6dd9f6623f33ecca0dcd420d7914965a92d692e339159a2"
    cpe = "cpe:2.3:a:php:php:8.1.27:*:*:*:*:*:*:*"
    deprecation_date = "2024-11-25T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@8.1.27?checksum=9aa5d7a29389d799885d90740932697006d5d0f55d1def67678e0c14f6ab7b2d&download_url=https://github.com/php/web-php-distributions/raw/master/php-8.1.27.tar.gz"
    source = "https://github.com/php/web-php-distributions/raw/master/php-8.1.27.tar.gz"
    source-checksum = "sha256:9aa5d7a29389d799885d90740932697006d5d0f55d1def67678e0c14f6ab7b2d"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/php/php_8.1.27_linux_x64_jammy_587f7605.tgz"
    version = "8.1.27"

  [[metadata.dependencies]]
    checksum = "sha256:a772cb1bf52d36565628535184948efebe9475c160d031b2b1637d8a4c2904c7"
    cpe = "cpe:2.3:a:php:php:8.2.14:*:*:*:*:*:*:*"
    deprecation_date = "2025-12-08T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@8.2.14?checksum=4c1fbb55a10ece7f4532feba9f3f88b9b211c11320742977588738374c03255f&download_url=https://github.com/php/web-php-distributions/raw/master/php-8.2.14.tar.gz"
    source = "https://github.com/php/web-php-distributions/raw/master/php-8.2.14.tar.gz"
    source-checksum = "sha256:4c1fbb55a10ece7f4532feba9f3f88b9b211c11320742977588738374c03255f"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://artifacts.paketo.io/php/php_8.2.14_linux_x64_bionic_a772cb1b.tgz"
    version = "8.2.14"

  [[metadata.dependencies]]
    checksum = "sha256:bd1dc26802b8957c14f2c3e3c0e6b8b78de7d3de2f71926eafaa8cbc7f7da797"
    cpe = "cpe:2.3:a:php:php:8.2.14:*:*:*:*:*:*:*"
    deprecation_date = "2025-12-08T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@8.2.14?checksum=4c1fbb55a10ece7f4532feba9f3f88b9b211c11320742977588738374c03255f&download_url=https://github.com/php/web-php-distributions/raw/master/php-8.2.14.tar.gz"
    source = "https://github.com/php/web-php-distributions/raw/master/php-8.2.14.tar.gz"
    source-checksum = "sha256:4c1fbb55a10ece7f4532feba9f3f88b9b211c11320742977588738374c03255f"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/php/php_8.2.14_linux_x64_jammy_bd1dc268.tgz"
    version = "8.2.14"

  [[metadata.dependencies]]
    checksum = "sha256:8714ab47579add0c534cc7ae48959be74a6103d33df8966e5dc6ce90c11f63a5"
    cpe = "cpe:2.3:a:php:php:8.2.15:*:*:*:*:*:*:*"
    deprecation_date = "2025-12-08T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@8.2.15?checksum=f9390d23708c65f428e868583dce7ab4a69e88ab6f377137a56643076f966b8f&download_url=https://github.com/php/web-php-distributions/raw/master/php-8.2.15.tar.gz"
    source = "https://github.com/php/web-php-distributions/raw/master/php-8.2.15.tar.gz"
    source-checksum = "sha256:f9390d23708c65f428e868583dce7ab4a69e88ab6f377137a56643076f966b8f"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://artifacts.paketo.io/php/php_8.2.15_linux_x64_bionic_8714ab47.tgz"
    version = "8.2.15"

  [[metadata.dependencies]]
    checksum = "sha256:ed4b9e95919ebf664da0192a4b53cb3a41624a40bd0b74acce54540453675d5c"
    cpe = "cpe:2.3:a:php:php:8.2.15:*:*:*:*:*:*:*"
    deprecation_date = "2025-12-08T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@8.2.15?checksum=f9390d23708c65f428e868583dce7ab4a69e88ab6f377137a56643076f966b8f&download_url=https://github.com/php/web-php-distributions/raw/master/php-8.2.15.tar.gz"
    source = "https://github.com/php/web-php-distributions/raw/master/php-8.2.15.tar.gz"
    source-checksum = "sha256:f9390d23708c65f428e868583dce7ab4a69e88ab6f377137a56643076f966b8f"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/php/php_8.2.15_linux_x64_jammy_ed4b9e95.tgz"
    version = "8.2.15"

  [[metadata.dependency-constraints]]
    constraint = "8.1.*"
    id = "php"
    patches = 2

  [[metadata.dependency-constraints]]
    constraint = "8.2.*"
    id = "php"
    patches = 2

  [[metadata.dependency-constraints]]
    constraint = "8.3.*"
    id = "php"
    patches = 2

[[stacks]]
  id = "io.buildpacks.stacks.bionic"
  mixins = ["libargon2-0", "libcurl4", "libedit2", "libgd3", "libmagickwand-6.q16-3", "libonig4", "libxml2", "libyaml-0-2"]

[[stacks]]
  id = "io.buildpacks.stacks.jammy"
