api = "0.7"

[buildpack]
  description = "A buildpack for installing and configuring PHP"
  homepage = "https://github.com/paketo-buildpacks/php-dist"
  id = "paketo-buildpacks/php-dist"
  keywords = ["php"]
  name = "Paketo PHP Distribution Buildpack"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/php-dist/blob/main/LICENSE"

[metadata]
  include-files = ["bin/build", "bin/detect", "bin/run", "buildpack.toml", "config/default.ini", "config/buildpack.ini"]
  pre-package = "./scripts/build.sh"
  [metadata.default-versions]
    php = "8.0.*"

  [[metadata.dependencies]]
    cpe = "cpe:2.3:a:php:php:7.4.28:*:*:*:*:*:*:*"
    deprecation_date = "2022-11-28T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@7.4.28?checksum=a04014cd1646b90547907e2e0ac5371594533960de317b6c7ac70bcb42db92fb&download_url=https://www.php.net/distributions/php-7.4.28.tar.gz"
    sha256 = "310443b881a62fb90fb2a73e407990446ba91542571a91154a91206c0305796f"
    source = "https://www.php.net/distributions/php-7.4.28.tar.gz"
    source_sha256 = "a04014cd1646b90547907e2e0ac5371594533960de317b6c7ac70bcb42db92fb"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://deps.paketo.io/php/php_7.4.28_linux_x64_bionic_310443b8.tgz"
    version = "7.4.28"

  [[metadata.dependencies]]
    cpe = "cpe:2.3:a:php:php:7.4.29:*:*:*:*:*:*:*"
    deprecation_date = "2022-11-28T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@7.4.29?checksum=f73f89873bb9447cb99eb4863cf0a0deab4481cb8acf7552c0e70647e6885854&download_url=https://www.php.net/distributions/php-7.4.29.tar.gz"
    sha256 = "5b02ff2b6571416022f7978cf5ca7241a718dc99490d3714e538d079fd63792f"
    source = "https://www.php.net/distributions/php-7.4.29.tar.gz"
    source_sha256 = "f73f89873bb9447cb99eb4863cf0a0deab4481cb8acf7552c0e70647e6885854"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://deps.paketo.io/php/php_7.4.29_linux_x64_bionic_5b02ff2b.tgz"
    version = "7.4.29"

  [[metadata.dependencies]]
    cpe = "cpe:2.3:a:php:php:8.0.19:*:*:*:*:*:*:*"
    deprecation_date = "2023-11-26T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@8.0.19?checksum=48e57634d350bcab4745d25d9d94ffa474649bf4f7e879fad163226c0d107bb5&download_url=https://github.com/php/web-php-distributions/raw/master/php-8.0.19.tar.gz"
    sha256 = "345898e7939de57b4710bffc558ec5818ebc6f61e1da250a02082310a7aaed3f"
    source = "https://github.com/php/web-php-distributions/raw/master/php-8.0.19.tar.gz"
    source_sha256 = "48e57634d350bcab4745d25d9d94ffa474649bf4f7e879fad163226c0d107bb5"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://deps.paketo.io/php/php_8.0.19_linux_x64_bionic_345898e7.tgz"
    version = "8.0.19"

  [[metadata.dependencies]]
    cpe = "cpe:2.3:a:php:php:8.0.20:*:*:*:*:*:*:*"
    deprecation_date = "2023-11-26T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@8.0.20?checksum=7e21fd985966264194cde63503b57fd0f0170b32a39bd7af2384c1071b50f164&download_url=https://github.com/php/web-php-distributions/raw/master/php-8.0.20.tar.gz"
    sha256 = "da14dc2302e1b5557e25274dde5f8a64f3e540d5b1f16b82c9db20319955fbf6"
    source = "https://github.com/php/web-php-distributions/raw/master/php-8.0.20.tar.gz"
    source_sha256 = "7e21fd985966264194cde63503b57fd0f0170b32a39bd7af2384c1071b50f164"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://deps.paketo.io/php/php_8.0.20_linux_x64_bionic_da14dc23.tgz"
    version = "8.0.20"

  [[metadata.dependencies]]
    cpe = "cpe:2.3:a:php:php:8.1.6:*:*:*:*:*:*:*"
    deprecation_date = "2024-11-25T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@8.1.6?checksum=e847745fd66fc8c57fac993a609fefcded93fddccd225f0620a26bb5ae5753c3&download_url=https://github.com/php/web-php-distributions/raw/master/php-8.1.6.tar.gz"
    sha256 = "f847907a1053e49c25733d7230e24f255aacb8262502e4ee278c0c1a618549e9"
    source = "https://github.com/php/web-php-distributions/raw/master/php-8.1.6.tar.gz"
    source_sha256 = "e847745fd66fc8c57fac993a609fefcded93fddccd225f0620a26bb5ae5753c3"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://deps.paketo.io/php/php_8.1.6_linux_x64_bionic_f847907a.tgz"
    version = "8.1.6"

  [[metadata.dependencies]]
    cpe = "cpe:2.3:a:php:php:8.1.7:*:*:*:*:*:*:*"
    deprecation_date = "2024-11-25T00:00:00Z"
    id = "php"
    licenses = ["PHP-3.0", "PHP-3.01"]
    name = "PHP"
    purl = "pkg:generic/php@8.1.7?checksum=5f0b422a117633c86d48d028934b8dc078309d4247e7565ea34b2686189abdd8&download_url=https://github.com/php/web-php-distributions/raw/master/php-8.1.7.tar.gz"
    sha256 = "b68e474ee601fb60eb201eda80ffc61321e73a581c0fbae6532c82708be5b2bf"
    source = "https://github.com/php/web-php-distributions/raw/master/php-8.1.7.tar.gz"
    source_sha256 = "5f0b422a117633c86d48d028934b8dc078309d4247e7565ea34b2686189abdd8"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://deps.paketo.io/php/php_8.1.7_linux_x64_bionic_b68e474e.tgz"
    version = "8.1.7"

  [[metadata.dependency-constraints]]
    constraint = "7.4.*"
    id = "php"
    patches = 2

  [[metadata.dependency-constraints]]
    constraint = "8.0.*"
    id = "php"
    patches = 2

  [[metadata.dependency-constraints]]
    constraint = "8.1.*"
    id = "php"
    patches = 2

[[stacks]]
  id = "io.buildpacks.stacks.bionic"
  mixins = ["libargon2-0", "libcurl4", "libedit2", "libgd3", "libmagickwand-6.q16-3", "libonig4", "libxml2", "libyaml-0-2"]
