name: Get PHP Releases
on:
  workflow_dispatch: {}
  schedule:
    - cron: '0 12 * * *'  # Daily at 12:00 UTC (noon)

concurrency:
  group: get-php-releases
  cancel-in-progress: false

jobs:
  get-new-versions:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Get PHP Versions
        id: fetch
        run: |
          curl --silent --show-error --fail \
            https://www.php.net/releases/index.php?json \
            --http2 \
            --output php-releases/releases.json

      - name: Check for Changes
        id: changes
        run: |
          if git diff --exit-code php-releases/releases.json > /dev/null 2>&1; then
            echo "has-changes=false" >> "$GITHUB_OUTPUT"
          else
            echo "has-changes=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Commit
        if: ${{ steps.changes.outputs.has-changes == 'true' }}
        id: commit
        uses: paketo-buildpacks/github-config/actions/pull-request/create-commit@main
        with:
          message: "Update PHP releases"
          pathspec: "php-releases/releases.json"
          keyid: ${{ secrets.PAKETO_BOT_GPG_SIGNING_KEY_ID }}
          key: ${{ secrets.PAKETO_BOT_GPG_SIGNING_KEY }}

      - name: Push Branch
        if: ${{ steps.commit.outputs.commit_sha != '' }}
        uses: paketo-buildpacks/github-config/actions/pull-request/push-branch@main
        with:
          branch: automation/php-releases/update

      - name: Create Pull Request
        if: ${{ steps.commit.outputs.commit_sha != '' }}
        uses: paketo-buildpacks/github-config/actions/pull-request/open@main
        with:
          token: ${{ secrets.PAKETO_BOT_GITHUB_TOKEN }}
          title: "Updates PHP releases"
          branch: automation/php-releases/update

  failure:
    name: Alert on Failure
    runs-on: ubuntu-latest
    needs: [get-new-versions]
    if: ${{ always() && needs.get-new-versions.result == 'failure' }}
    steps:
      - name: File Failure Alert Issue
        uses: paketo-buildpacks/github-config/actions/issue/file@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repo: ${{ github.repository }}
          label: "failure:get-php-releases"
          comment_if_exists: true
          issue_title: "Failure: Get PHP Releases workflow"
          issue_body: |
            Get PHP Releases workflow [failed](https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}).
          comment_body: |
            Another failure occurred: https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}
